<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a routerLink="#">
            <img src="images/icon/logo.png" alt="R.I.S Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" routerLink="/admin">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>

                </li>
                <li>
                    <a routerLink="/admin/addcat">
                        <i class="fas fa-chart-bar"></i>SAITI</a>
                </li>
                <li>
                    <a routerLink="/admin/addblog">
                        <i class="far fa-check-square"></i>SERVICES</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
