
<div class="row">
    <div class="col-lg-9">
        <h2 class="title-1 m-b-25">Earnings By Items</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>name</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100398</td>
                        <td>iPhone X 64Gb Grey</td>
                        <button class="text-right">
                          <input type="file" id="myFile" name="filename">
                          <input type="submit"></button>

                        <button class="text-right">Delete</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <form>
    <input type="file" id="myFile" name="filename">
    <input type="submit">
  </form> -->
<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p>Copyright © 2020 Atlantic International. All rights reserved.</p>
        </div>
    </div>
</div>
